body{
    padding: 10px;
    font-size: 1.6rem;
    line-height: 1.2;
    text-align: center;
}
#main{
    min-width: 500px;
    margin: 30px 8px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(35deg, #ccffff, #ffcccc);

}
@media(max-width: 600px){
    #main{
        margin: 0;
    }
}
img{
    max-width: 80%;
}
figcaption{
    text-align: center;
    margin: 15px 0 5px 0;
}
@media(max-width: 600px){
    figcaption{
        font-size: 1.2rem;
    }
}
p{
    text-align: center;
}
h1 h3{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
}
@media(max-width: 600px){
    h1 h3{
    font-size: 3.5rem;
    line-height: 1.2rem;
    }   
}
.contenido ul p{
    text-align: left;
}
.contenido ul li{
    text-align: center;
    list-style: none;
}
.contenido ul li a{
    text-decoration: none;
    color: black;
}


.contenido{
    text-align: left;
    width: 60%;
}

@media screen and (max-width: 600px){
    .contenido{
        width: 100%;
    }
}
.tribute-link{
    color: #eee;
    font-size: 1.2rem;

}
#tribute-info{
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.historia{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#firma p{
    text-align: right;
    font-size: 15px;
    padding: 10px;
    border: 1px solid red;

}
@media screen and (max-width: 700px){
    #firma p{
        text-align: center;
        font-size: 20px;
        padding: 5px;
    }
    #firma #text{
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }        
}

h4 a i{
    color: #000; 
}
h4 a i:hover{
    color: gray;
}

#home{
    cursor: pointer;
    transition: .3s ease all;
   
}
#home i{
    color: #000
}
#home i:hover{
    color: #565656
}